apiVersion: v1
kind: Service
meta
  name: {{ include "flask-rca-demo.fullname" . }}
  labels:
    {{- include "flask-rca-demo.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 5000
      protocol: TCP
      name: http
  selector:
    {{- include "flask-rca-demo.selectorLabels" . | nindent 4 }}